extends layout

block content
  h2 #{title}

  h3 Fill in the values
  form(method="post" action="/add") 
    table
      tr
        td name
        td
          input(type="text", name="name")
      tr
        td  pro
        td
          input(type="text", name="pro")
      tr
        td  id
        td
          input(type="text", name="id")
      tr
        td(colspan="2")
          input(type="submit", value="add")
  
